h1{
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2em;
    margin-top: 2em;
    }
    
    p{
    font-size: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-right: 8em;
    margin-left: 8em;
    color: #edebeb;
    margin-bottom: 2em;
    margin-top: 2em;
    }
    
    h2{
        text-align: center;
        color: #000000;
        margin-bottom: 2em;
        color: #ffffff;
        }
